body {
  background-color: #b1def4;
}

#belly {
  position: absolute;
  background-color: white;
  top: 200px;
  left: 50px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#head {
  position: absolute;
  background-color: white;
  top: 100px;
  left: 80px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

#branch1 {
  position: absolute;
  background-color: #6b4000;
  width: 10px;
  height: 80px;
  top: 170px;
  left: 230px;
  transform: rotate(45deg);
}

#branch2 {
  position: absolute;
  background-color: #6b4000;
  width: 10px;
  height: 30px;
  top: 170px;
  left: 240px;
  transform: rotate(-15deg);
}

#branch3 {
  position: absolute;
  background-color: #6b4000;
  width: 10px;
  height: 30px;
  top: 185px;
  left: 255px;
  transform: rotate(108deg);
}

#branch4{
  position: absolute;
  background-color: #6b4000;
  width: 10px;
  height: 80px;
  top: 170px;
  left: 55px;
  transform: rotate(-45deg);

}

#branch5{
  position: absolute;
  background-color: #6b4000;
  width: 10px;
  height: 25px;
  top: 190px;
  left: 32px;
  transform: rotate(-105deg);

}

#branch6{
  position: absolute;
  background-color: #6b4000;
  width: 10px;
  height: 25px;
  top: 175px;
  left: 50px;
  transform: rotate(25deg);

}

#eyes1{
  position: absolute;
  background-color: #242322;
  width: 10px;
  height: 25px;
  top: 175px;
  left: 50px;
}

#eyes1{
  position: absolute;
  background-color: #141414;
  width: 10px;
  height: 10px;
  top:160px;
  left:110px;
}

#eyes2{
  position: absolute;
  background-color: #141414;
  width: 10px;
  height: 10px;
  top:160px;
  left:180px;
}

#mouth{
  position: absolute;
  background-color: hsl(0, 69%, 50%);
  width: 8px;
  height: 8px;
  top:180px;
  left:150px;
}
